@model PicturesASP.Models.Folder
@{
    ViewData["Title"] = "Home";
}

<div id="wrapper">

    <div id="right">
        <ul id="folders" class="thumbnails">
            @if (Model.SubFolders.Count() > 0)
            {@foreach (Folder item in Model.SubFolders)
                {
                    <li>
                        <a asp-action="Index" asp-controller="Home" asp-route-path="@item.UrlName" style="text-align:center"><img src="~/css/images/500X500.gif" /><br/> <span >Lalala</span></a>
                    </li>
                }
        }

        </ul>
        <ul id="pictures" class="thumbnails">

            @if (Model.Images.Count() > 0)
            {
                foreach (var item in Model.Images)
                {
                    <li>
                        <a href="@item.Link"><img src="@item.Link" /></a>
                    </li>
                }
            }
        </ul>
    </div>
</div>

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" />
}
@section Scripts {

}
